{% extends 'base_template.html' %}
{% block main_content %}
<div class="container" id="signup">

    <h3>Sign Up</h3>

    <form>

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            {{ form.name(class="form-control", id="name", placeholder="Name") }}
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            {{ form.email(class="form-control", id="email", placeholder="E-mail") }}
        </div>
        
        <div class="mb-3">
            <label for="pwd" class="form-label">Password</label>
            {{ form.password(class="form-control", id="pwd", placeholder="Password") }}
        </div>

        <div class="mb-3">
            <label for="cpwd" class="form-label">Confirm Password</label>
            {{ form.confirm_password(class="form-control", id="cpwd", placeholder="Password Confirmation") }}
        </div>

        {{ form.signup(class="btn btn-primary", id="btn-signup", value="Sign Up") }}
    
    </form>

</div>

<script src="{{ url_for('static', filename='js/sha256.js') }}"></script>
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>

{% endblock %}